[submodule "CppPlugin/DLLPlugin/spine-runtimes"]
	path = CppPlugin/DLLPlugin/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
